/* Base */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: content-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

/* Navegación */

.boton-nav {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.boton-nav:hover,
.boton-nav:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.boton-nav:hover {
    transform: translateY(-1px) scale(1.1);

}

.boton-nav:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

a {
    color: #333;
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 0.5rem;
    list-style-type: none;
}

nav > ul > li {
    padding: 0.8rem;
}

/* Contenido */
section {
    padding: 1rem;
}

/* Botones Navegacion 2 */
.boton-sec {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    cursor: pointer;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.boton-sec:hover,
.boton-sec:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.boton-sec:active {
    background: var(--color);
    color: #fff;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 0.1rem;
    text-align: center;
}

/* Botón PDF */
.btn-pdf {
    padding: 10px 20px;
    background-color: #7691ab;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.btn-pdf:hover {
    background-color: #567a99;
    transform: scale(1.1);
}

.btn-pdf:active {
    background-color: #3c5d74;
    transform: scale(1.05);
}

/* Efecto de Rotación de Texto */
.rotate-text {
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.social{
    gap: 2rem;
}

/* Social Icons Hover */
.social-icon {
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

/* Animación de Ciclo de Colores */
@keyframes color-cycle {
    0% {
        background-color: #7691ab;
    }
    33% {
        background-color: #b6ae56;
    }
    66% {
        background-color: #4a9e67;
    }
    100% {
        background-color: #7691ab;
    }
}

.color-box {
    width: 100px;
    height: 100px;
    animation: color-cycle 4s infinite;
}

/* Tabla */
table {
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    width: 500px;
    border-radius: 10px;
}

th, td {
    font-family: 'Motnserrat', sans-serif;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

th {
    background-color: #7691ab;
    color: white;
}